name: CI

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['develop','master']
  workflow_dispatch:
    inputs:
      RUN_CD:
        description: 'Run CD stage'
        required: false
        default: 'false'
      DEPLOY_ENV:
        description: 'Deployment environment'
        required: false
        type: choice
        options:
          - DEV
          - PRO
        default: DEV

env:
  IMAGE_NAME: devops-training-python-app:latest
  APP_URL: "http://localhost:5001/"

jobs:
  build-docker:
    runs-on: ubuntu-latest #[self-hosted, linux, docker]
    if: |
      (github.ref_name == 'develop' || github.ref_name == 'master')
      && (github.event_name != 'workflow_dispatch' || inputs.RUN_CD == 'true')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Info
        run: |
          echo "Branch: ${{ github.ref_name }}"
          echo "Commit SHA: ${{ github.sha }}"
          echo "Runner OS: ${{ runner.os }}"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make curl
          pip install -r requirements.txt

      - name: Run CI tests
        run: make test

      - name: Build Docker image
        run: docker build -f devops/ci.Dockerfile -t $IMAGE_NAME .

      - name: Clean previous containers and volumes
        run: |
          docker compose down -v --remove-orphans
          docker volume prune -f

      - name: Start PostgreSQL container
        run: docker compose up -d db

      - name: Wait for DB to be ready
        run: |
          timeout 60 bash -c '
          until docker exec my-flask-app-db pg_isready -U root; do
            echo "Waiting for DB..."
            sleep 3
          done'

      - name: Start Flask app container
        run: docker compose up -d app

      - name: Debug running containers
        run: docker ps -a

      - name: Wait for Flask app to be ready
        run: |
          echo "Waiting for Flask app..."
          timeout 90 bash -c '
          until curl -s http://localhost:5001/ > /dev/null; do
            echo "App not ready yet..."
            sleep 3
          done'

      - name: Run e2e tests
        run: curl -f $APP_URL

      - name: Debug Flask logs if failure
        if: failure()
        run: docker logs my-flask-app-dc

      - name: Cleanup
        if: always()
        run: docker compose down -v --remove-orphans
