# Práctica 3 - GitHub Actions (dummy)
#
# Punto de partida: workflow mínimo para validar que Actions funciona en el repo.
# En la Práctica 3 irás ampliando este workflow para llegar a CI/CD.

name: CI (dummy)

on:
  push:
    branches: ['**'] # todas las ramas
  pull_request:
    branches: ['develop','master']
  workflow_dispatch:
    inputs:
      RUN_CD:
        description: 'Run CD stage'
        required: false
        default: 'false'

jobs:
  dummy:
    runs-on: ubuntu-latest
    steps:
      - name: Mostrar contexto
        run: |
          echo "Repo: $GITHUB_REPOSITORY"
          echo "Ref:  $GITHUB_REF"
          echo "Branch: $GITHUB_REF_NAME"
