# Práctica 3 - GitHub Actions (dummy)
#
# Punto de partida: workflow mínimo para validar que Actions funciona en el repo.
# En la Práctica 3 irás ampliando este workflow para llegar a CI/CD.

name: CI (dummy)

on:
  push:
    branches: ['**'] # todas las ramas
  pull_request:
    branches: ['develop','master']
  workflow_dispatch:
    inputs:
      RUN_CD:
        description: 'Run CD stage'
        required: false
        default: 'false'
      DEPLOY_ENV:
        description: 'Deployment environment'
        required: false
        type: choice
        options:
          - DEV
          - PRO
        default: DEV

# Variables de entorno a nivel de workflow
env:
  IMAGE_NAME: "python:3.6-slim" #"devops/ci:latest"
  APP_URL: "http://localhost:5001/"
jobs:
  dummy:
    runs-on: ubuntu-latest
    steps:
      - name: Mostrar contexto
        run: |
          echo "Repo: $GITHUB_REPOSITORY"
          echo "Ref:  $GITHUB_REF"
          echo "Branch: $GITHUB_REF_NAME"
  ci:
    runs-on: ubuntu-latest
    container:
      image: ${{ vars.IMAGE_NAME }}
    # Sobrescribiendo una variable a nivel de job
    env:
      APP_URL: "https://localhost:5001"
    steps:
      # Step 1: Checkout
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Info
      - name: Info
        run: |
          echo "Branch: ${{ github.ref_name }}"
          echo "Commit SHA: ${{ github.sha }}"
          echo "Runner OS: ${{ runner.os }}"
          echo "Runner Name: ${{ runner.name }}"

      # Step 3: Variables de entorno
      - name: Env variables in shell
        run: |
          echo "IMAGE_NAME (shell): $IMAGE_NAME"
          echo "APP_URL (shell): $APP_URL"

      - name: Print env variables in expressions
        run: |
          echo "IMAGE_NAME (expression): ${{ env.IMAGE_NAME }}"
          echo "APP_URL (expression): ${{ env.APP_URL }}"

      - name: Print workflow_dispatch inputs
        run: |
          echo "RUN_CD = ${{ inputs.RUN_CD }}"
          echo "DEPLOY_ENV = ${{ inputs.DEPLOY_ENV }}"

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y make
          pip install -r requirements.txt flake8 mypy black

      - name: Lint
        run: |
          make reformat
          make lint

      - name: Run tests
        run: |
          pytest
