# Práctica 3 - GitHub Actions (dummy)
#
# Punto de partida: workflow mínimo para validar que Actions funciona en el repo.
# En la Práctica 3 irás ampliando este workflow para llegar a CI/CD.

name: CI (dummy)

on:
  push:
    branches: ['**'] # todas las ramas
  pull_request:
    branches: ['develop','master']
  workflow_dispatch:
    inputs:
      RUN_CD:
        description: 'Run CD stage'
        required: false
        default: 'false'
      DEPLOY_ENV:
        description: 'Deployment environment'
        required: false
        type: choice
        options:
          - DEV
          - PRO
        default: DEV

# Variables de entorno a nivel de workflow
env:
  IMAGE_NAME: "python:3.6-slim" #"devops/ci:latest"
  APP_URL: "http://localhost:5001/"
jobs:  
  build-docker:    
    runs-on: [self-hosted, linux, docker] 
    #ubuntu-latest
    # Condiciones por rama: CD solo en develop/master
    if: |
      (github.ref_name == 'develop' || github.ref_name == 'master')
      && (github.event_name != 'workflow_dispatch' || inputs.RUN_CD == 'true')
    # Sobrescribiendo una variable a nivel de job
    env:
      APP_URL: "https://localhost:5001"
    steps:
      # Clonar repository
      - name: Checkout repository
        uses: actions/checkout@v4
      
      # Info
      - name: Info
        run: |
          echo "Branch: ${{ github.ref_name }}"
          echo "Commit SHA: ${{ github.sha }}"
          echo "Runner OS: ${{ runner.os }}"
          echo "Runner Name: ${{ runner.name }}"

      # Variables de entorno
      - name: Env variables in shell
        run: |
          echo "IMAGE_NAME (shell): $IMAGE_NAME"
          echo "APP_URL (shell): $APP_URL"

      - name: Print env variables in expressions
        run: |
          echo "IMAGE_NAME (expression): ${{ env.IMAGE_NAME }}"
          echo "APP_URL (expression): ${{ env.APP_URL }}"

      - name: Print workflow_dispatch inputs
        run: |
          echo "RUN_CD = ${{ inputs.RUN_CD }}"
          echo "DEPLOY_ENV = ${{ inputs.DEPLOY_ENV }}"

      #Install dependencies and Lint
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make
          pip install -r requirements.txt

      #- name: Lint
      #  run: |
      #    make reformat
      #    make lint

      - name: Run CI
        run: |
          make test

      - name: Build Docker image en CI
        run: |
          docker build -f devops/Dockerfile -t $IMAGE_NAME .

      - name: Start services with Docker Compose
        run: docker compose up -d

      - name: Debug containers
        run: |
          docker ps -a
          docker compose logs

      #- name: Run e2e tests
      #  run: |
      #    curl -f http://localhost:5001/  # usa -f para que falle si status != 2xx
      
      - name: Run e2e tests Wait for app
        run: |
          timeout 60 bash -c '
          until curl -s http://localhost:5001/ > /dev/null; do
          echo "Waiting for app..."
          sleep 3
          done
          '

      - name: Cleanup
        if: always()
        run: |
          docker compose down
        
      #- name: Run tests
      #  run: |
      #    pytest

      
